
data/
*.csv
*.parquet
*.xlsx

models/
*.pkl
*.joblib
*.h5

__pycache__/
*.py[cod]
*$py.class


venv/
.env/
.venv/


.ipynb_checkpoints/


.vscode/*
!.vscode/settings.json
.idea/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db


*.log
*.tmp


.coverage
htmlcov/
pytest_cache/


build/
dist/
*.egg-info/

*.xml
